# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

\__teste\__

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [ ]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../../../data/nhanes/demographic-person.csv');

In [ ]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [ ]:
CREATE TABLE Drug (
  Code VARCHAR(100) NOT NULL,
  Name VARCHAR(100),
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

In [ ]:
SELECT * FROM Drug;

In [ ]:
CREATE TABLE Medication (
  Person_id VARCHAR(100) NOT NULL,
  Drug_code VARCHAR(100),
  Days_use INTEGER,
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

In [ ]:
SELECT * FROM Medication;

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [ ]:
SELECT id FROM Pessoa WHERE age > 60

b) Liste as idades das pessoas cadastradas (sem repetições)

In [ ]:
SELECT DISTINCT age
    FROM Pessoa, Medications
    WHERE Pessoa.id = Medications.person_id

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [ ]:
SELECT DISTINCT id, age, drug_code, days_use
    FROM Pessoa, Medications
    WHERE Pessoa.id = Medications.person_id

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [ ]:
SELECT DISTINCT id, age, name, drug_code, days_use
    FROM Pessoa, Medications, Drug
    WHERE Pessoa.id = Medications.person_id AND
        Medications.drug_code = Drug.code

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [ ]:
SELECT DISTINCT name
    FROM Pessoa, Drug, Medications
    WHERE Drug.code = Medications.drug_code AND Medications.person_id = Pessoa.id

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [ ]:
SELECT DISTINCT name
    FROM Drug, Medications
    WHERE Drug.code = Medications.drug_code AND Medications.days_use >2000